proposal/Proposal\ Document.aux
proposal/Proposal\ Document.log
proposal/Proposal\ Document.out
proposal/Proposal\ Document/design/*

*.aux
*.log
*.out
Process_Book/landingBoxfinal.png.aux
Process_Book/*.aux
Process_Book/*.log
Process_Book/*.out

.env
