.bioBox{
	width: 100%;
	height: 500px;
}
.photoBox {
   width:50%; 
   float: left;
}

.factsBox{
	width: 30%;
	padding: 200px;
	border: 1px solid red;
	text-align: center;
	float:right;

}

.actorPicture{
	width:100%;
	height: 100%;
	padding: 30px;
	border: 2px solid black;
	background-color: gray;
}

.timeline{
	width:1000px;
	height:500px
}

.genre{
	width: 427px;
	height: 500px; 
}

.parallel{
	width: 1200px;
	height: 500px;
}

li{
	font-weight: bold;
}