.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
} 

.dot:hover {
  fill: brown;
}
.dot {
    fill: beige;
    stroke: black;
    stroke-width: 2px
}

div.tooltip-tl { 
    position: absolute;     
    text-align: center;     
    /*width: 60px;          */
    /*height: 28px;        */
    padding: 8px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    opacity: 0.95;
    border: 2px;    
    border-radius: 8px;     
    pointer-events: none;     
}
