<template name="searchApiFilms">
    
<!--     <head>
    <link href="css/api_films.css" rel="stylesheet">
    </head> -->
    <header id="header">
        <link href="css/api_films.css" rel="stylesheet">
        <h1>Curly Squeegee</h1>
        <p>A simple interface to learn about actors/actresses <br/>
        The next big thing. Brought to you by Brimmy Moorig .</p>
    </header>

    <form accept-charset="UTF-8" class='actor-form' id="actor-form" method="post">
        <input type="text" id="actor-name" placeholder="Actor Name">
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

    <ul class="icons">
        <li> Try a popular actor <a class='popularChoice'> <i class="fa fa-arrow-up"></i> </a> </li>
<!--         <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li> -->
        <li>  </li>
    </ul>

    <br>
    
    <div style="text-align:center"> <a href="https://youtu.be/hG-A7RaEqew"> <i class="fa fa-film"></i> </a>  </div>
    <!-- <div style="text-align:center"> <a href="https://youtu.be/hG-A7RaEqew">  View our Screencast video on Youtube! </a> </div> -->

</template>
