<template name="navbar">
    
    <!-- <header class="navbar" id="header"> -->
    <div class="navbar" id='header'>
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar-collapse-01" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span><span class="icon-bar"></span>
            </button> 
            <a id='search' href="/" class="navbar-brand">Curly Squeegee</a>
        </div>
        <div id="navbar-collapse-01" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a id='search' href="{{pathFor 'search'}}">Actor Search</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"> {{ actorData.birthName }} </a>
                </li>

                <div class="navbar-header" style='padding-right: 10px;'>
                    <a class="navbar-brand" href="#"> 
                        <div class="thumbnail">
                            <img id='actorphoto' style="width: 40px; height: 60px;" src="{{ actorPhoto }}">
                        </div>
                    </a>
                </div>
            </ul>
        </div>

    </nav>
    </div>

</template>
