<template name="welcome">
    <header id="header">
        <link href="css/api_films.css" rel="stylesheet">
        <h1>Curly Squeegee</h1>
        <p>A simple interface to learn about actors/actresses <br/>
        The next big thing. Brought to you by Brimmy Moorig .</p>
    </header>

    <form accept-charset="UTF-8" class='actor-form' id="actor-form" method="post">
        <input type="text" id="actor-name" placeholder="Actor Name">
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</template>